<p>
	<%= form_for(@word) do |f| %>
		<%= f.hidden_field(:wn_title, value: @the_word) %>
		<%= f.hidden_field(:wn_id, value: @wn_word_id) %>
		<% if current_user %>
		<%= f.submit("Add Word to My Wordzie Bank", :class => "btn-success btn-large", :id => "search-btn") %>
		<% else %>
		<% end %>
	<% end %>
</p> %>