User content

<a href="https://twitter.com/share" class="twitter-share-button" data-related="jasoncosta" data-text="Here is my new Wordzy! #<%= @the_word %>" data-lang="en" data-size="large" data-count="none">Tweet</a>