<<<<<<< HEAD
<ul>
<% @words.each do |word| %>
<li><%= word.wn_title %></li>
<% end %>
	
=======
<h1>Words</h1>

<ul>
	<% @words.each do |word| %>
		<li><%= word %></li>
	<% end %>
</ul>
>>>>>>> 51670b64925fa9c4bc745fa27f8e46a9c4c0e2b3
