
<table class="table table-striped">
  <h1>Wordzies Word Banks</h1>
	<ul>
		<% @words.each do |wordzie| %>
		<li><%= link_to wordzie.wn_title, show_word_url(wordzie.wn_title) %></li>
		<% end %>
	</ul>
	<p>
		Random words to add to your wordzies:
	</p>
	<ul>
		<% @suggested_words.each do |word| %>
			<li><%= link_to word['word'], show_word_url(word['word']) %></li>
		<% end %>
	</ul>
</table>



