<div class="span6">
	<div id='mywordzies'>
		<h1>Is this your word?</h1>
		<h2>Your results returned: <%= @the_searched_word['totalResults'] %></h2>
		<ul>
			<% @the_searched_word['searchResults'].each do |result| %>
				<li><%= link_to result['word'], "words/#{result['word']}" %></li>
			<% end %>
		</ul>
	</div>
</div>