@import url(http://fonts.googleapis.com/css?family=Fugaz+One);

.container {
	margin: 0 auto;
	width: 960px;
}
#header {
	background: #3e4550;
	background: url('linear-gradient.png') 0 0 repeat-x;
 	background: -moz-linear-gradient(top, #3e4550, #646464);
	background: -ms-linear-gradient(top, #3e4550, #646464);
	background: -o-linear-gradient(top, #3e4550, #646464);
	background: -webkit-linear-gradient(top, #3e4550,#646464);
	background: linear-gradient(top, #3e4550, #646464);
	height: 120px;
	.container {
		position: relative;
	}
}
#header h1 {
	font-family: 'Fugaz One', cursive;
	color: #8ec659;
	padding: 10px;
}

#header h1 a {
	color: #8ec659;
}
#header h1 a:hover {
	color: #639c4f;
	text-decoration: none;
}
#signin {
	position: absolute;
	top: 0;
	right: 0;
	margin: 15px 0;
	color: white;
	font-size: 17px;
	ul {
		list-style: none;
	}
		li {
			display: block;
		}
}

#searchbox {
	width: 500px;
	margin: 0 auto;
	top: 100px;
}

#q {
	width: 399px;
	height: 27px;
}

#search-btn {
	margin-left: 10px;
}

.hr-wrapper {
	height: 30px;
}
.hr {
	text-align: bottom center;
	width:960px;
}

#footer {
	margin-top: 40px;
	padding: 10px;
	text-align: center;
}
