// Place all the styles related to the words controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Lilita+One);


#mywordzies ul li {
		font-family: 'Lilita One', cursive;
		background: #d6d8da;
		margin: 20px 0;
		font-size: 40px;
		list-style: none;
		text-transform: capitalize;
		line-height: 1.2;
	}

#mywordzies h1 {
	font-family: 'Lilita One', cursive;
	margin: 20px 0;
	font-size: 40px;
	list-style: none;
	text-transform: capitalize;
	line-height: 1.2;
	margin-left: 20px;
}

ul li:hover {
	text-decoration: none;
}

#randomwordzies ul li  {
	font-family: 'Lilita One', cursive;
	background: #d6d8da;
	margin: 20px;
	font-size: 40px;
	list-style: none;
	text-transform: capitalize;
	line-height: 1.2;
}

#randomwordzies h1 {
	font-family: 'Lilita One', cursive;
	margin: 20px 0;
	padding-left: 20px;
	font-size: 40px;
	list-style: none;
	text-transform: capitalize;
	line-height: 1.2;
	margin-left: 20px;
}

#searchwordzies h1 {
	font-family: 'Lilita One', cursive;
	margin: 20px 0;
	font-size: 40px;
	list-style: none;
	text-transform: capitalize;
	line-height: 1.2;
	margin-left: 20px;
}

#searchwordzies h2 {
	font-family: 'Lilita One', cursive;
	margin: 20px 0;
	list-style: none;
	text-transform: capitalize;
	line-height: 1.2;
	margin-left: 20px;
	text-transform: capitalize;
}

#wordzieresult h1 {
	font-family: 'Lilita One', cursive;
	margin: 20px 0;
	font-size: 40px;
	list-style: none;
	text-transform: capitalize;
	line-height: 1.2;
	margin-left: 20px;
}

#wordzieresult h2 li {
	margin: 20px 0;
	font-size: 20px;
	list-style: none;
	text-transform: capitalize;
	line-height: 1.2;
	margin-left: 20px;
	background: rgba(0, 0, 0, 0.1);
}

