// Place all the styles related to the words controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Lilita+One);


#mywordzies ul li {
	font-family: 'Lilita One', cursive;
	background: #d6d8da;
	height: 20px;
	margin: 20px;
	padding: 20px;
	width: 400px;
	font-size: 40px;
	list-style: none;
	text-transform: capitalize;
}

ul li:hover {
	text-decoration: none;
}

#randomwordzies ul li  {
	font-family: 'Lilita One', cursive;
	background: #d6d8da;
	height: 20px;
	margin: 20px;
	padding: 20px;
	width: 400px;
	font-size: 40px;
	list-style: none;
	text-transform: capitalize;
}