// Place all the styles related to the words controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Lilita+One);

#mywordzies {
	background: #d6d8da;
	width: 498px;
	border: 2px solid #88d56b;
	height: 538px;	
}

#mywordzies ul li {
	font-family: 'Lilita One', cursive;
	background: #fff;
	border: 6px solid #ccc;
	height: 100px;
	margin: 20px;
	padding: 20px;
	width: 400px;
}

#addwordzy-btn{
	
}